html, body {
    height: 100%;
    cursor: none;
}
  
body {
    margin: 0;
    display: flex;
  
    /* This centers our sketch horizontally. */
    justify-content: center;
  
    /* This centers our sketch vertically. */
    align-items: center;
    background-image: url("sprites/bg.jpg");
    background-size: 200vh;
}

@font-face {
font-family: "Shotgun";
    src: url(fonts/shotgun.ttf) format("truetype");
}

.fontShotgun { font-family: "Shotgun", sans-serif }